#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

${ticDisplayedName} is the lowest stack of ${ecosystemNameHighlight}.

---

$h1 ${ticDisplayedName} - ${ticDisplayedMavenName}

The ${ticDisplayedName} - ${ticDisplayedMavenName} is the core Maven plugin defining the BW6
lifecycles.
<div>[Learn more »](./tic-bw6-maven/index.html)</div>
