#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

${ticDisplayedName} - ${ticDisplayedMavenName} is the core Maven plugin defining
the BW6 lifecycles.

* [Plugin documentation](./plugin-info.html)
* [Sources](./xref/index.html)
* [Javadoc](./apidocs/index.html)